# Application
PORT=1321
APP_ENV=development

# Database Configuration
DATABASE_DRIVER=sqlite  # mysql, postgres, or sqlite
DATABASE_HOST=localhost
DATABASE_PORT=3306      # 3306 for MySQL, 5432 for PostgreSQL
DATABASE_USER=root
DATABASE_PASS=password
DATABASE_NAME=ddd_golang
MIGRATION_DIR=./internal/config/db/migrations

# Authentication
JWT_SECRET=your-super-secret-key-change-in-production

# Tracing (Jaeger)
JAEGER_ENDPOINT=localhost:4318